

.main{
  flex: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  flex-direction: row;
  height: 100vh;
  width: 100vw;



}
.names{
  justify-content: start;
  margin-right: 150px;

}
.left{
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 400px;

  /* width: 50%; */


}

.right{
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-right: 1px dotted black;
  /* width: 50%; */

}

input{
  padding: 7px;
  border-radius: 5px;
  width: 300px;
}

button{
  padding: 10px 15px;
  border-radius: 5px;
  background-color: green;
  color: aliceblue;
  margin-top: 10px;
}